@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
.layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    margin-top: 5%;
    margin-left: 2%;
   
}

#container {

   width: 400px;
   height: 400px;
 
   
  

}

.gridDiv {
  
    border: solid #333;
    background-color:teal;
    

}
.button, .clearButton {
    width: 5rem;
    border: groove;
    border-radius: 12%;
    background-color: white;
    font-family: 'Barlow Condensed', sans-serif;
    outline: none;
    background-color: whitesmoke;


}